# Ignore raw data
/object_detection/ref_img_cropping/raw_images/
/object_detection/ref_img_cropping/cropped_images/
/object_detection/ref_img_cropping/bounded_images/
/img_scraping/raw_ref_img/
/img_scraping/messy_image_scraping/
/img_scraping/item_info/
/img_scraping/urls/
/web_example/
/object_detection/ref_img_cropping/.idea/
/object_detection/ref_img_cropping/cropping_fails.csv
/web/setup/.ipynb_checkpoints/flask_dev_setup-checkpoint.ipynb
/web/setup/flask_dev_setup.ipynb
/object_detection/feature_extraction/ref_img_features.npy
/object_detection/feature_extraction/ref_img_filemapping.json
output.png
quickplot.py
__pycache__
web/uploads/
/object_detection/ref_img_cropping/converted_images/
/object_detection/cat_organized_ref_img/
/vector_search/__pycache__/

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
