# Ignore raw data
/object_detection/ref_img_cropping/raw_images/
/object_detection/ref_img_cropping/cropped_images/
/object_detection/ref_img_cropping/bounded_images/
/img_scraping/raw_ref_img/
/img_scraping/messy_image_scraping/
/img_scraping/item_info/
/img_scraping/urls/
/web_example/
/object_detection/ref_img_cropping/.idea/
*flask_dev_setup-checkpoint.ipynb
/web/setup/flask_dev_setup.ipynb
quickplot.py
*__pycache__*
*.py[cod]
*$py.class
web/uploads/
*ref_img_index.ann
/demo_files/
/img_scraping/validation/
/cocktail/
*json
*ann
*npy
*txt
*csv
*jpg
*png
*pdf
*.Rhistory
*.h5


# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Skip to content

Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @dstanner Sign out
2,680
72,980 34,067 github/gitignore
 Code  Pull requests 160  Projects 0  Insights
gitignore/Python.gitignore
34e8d3e  15 days ago
@SethMichaelLarson SethMichaelLarson Add .nox directory for the nox testing tool
@arcresu @shiftkey @Lucretiel @Harrison-G @jwg4 @GabrielC101 @Metallicow @misaelnieto @pmsosa @svkampen @vltr @matheussl @hugovk @ghisvail @EvandroLG @DSIW @amigcamel @toanant @2Cubed @weinihou @Visgean @nvie @skuschel @sigo @SethMichaelLarson @borntyping

112 lines (90 sloc)  1.25 KB
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
Press h to open a hovercard with more details.
