<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>cocktailVision</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="starter-template.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="font-family:Georgia, 'Times New Roman', Times, serif"><strong>
        <font color='red'>cocktail</font>Vision
      </strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>


  <!-- Heading section-->
  <main role="main" class="container">
    <div class="media">
      <img class="mr-3" src="./static/martini.png" alt="Martini" style="width: 150px">
      <div class="media-body">
        <h5 class="mt-0 h1" style="font-family:Georgia, 'Times New Roman', Times, serif"><strong>
            <font color='red'>cocktail</font>Vision
          </strong></h5>
          Show us what you've got in your liquor collection, and we'll help you save some money and get ready for your party!<br><br>
          Upload a picture of the booze you've got on hand, and we'll help you find some great stuff you can make.
      </div>
    </div>
  </main><!-- /.container -->
  <br><br>


  <!--File input and recipe output-->
  <div class="container">
    <div class="row">
      <div>
        <form action="/output" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="file">Upload your bar pic here:</label>
            <input type="file" class="form-control-file" id="file" name="file" accept="image/*" placeholder="Upload image..."><br>
            <button type="submit" class="btn btn-dark">Let's go!</button>
          </div>
        </form>
      </div>
    </div>
  </div>




  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="
              https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous">
  </script>
  <script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
</body>

</html>