<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>cocktailVision</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="starter-template.css" rel="stylesheet">
</head>

<body>

  <!-- Navbar -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index" style="font-family:Georgia, 'Times New Roman', Times, serif"><strong>
        <font color='red'>cocktail</font>Vision
      </strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="/index">Home <span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/me">About me <span class="sr-only">(current)</span></a>
        </li>

      </ul>
    </div>
  </nav>

  <!-- About me container -->
  <main role="main" class="container">
    <div class="media">
      <img class="mr-3" src="/static/Darren.png" alt="Darren" style="width: 150px">
      <div class="media-body">
        <h5 class="mt-0 h1" style="font-family:Georgia, 'Times New Roman', Times, serif">
          <strong>
            <font color='red'>Darren</font> Tanner
          </strong>, Ph.D.
        </h5>
        <!-- About me text-->
        I received my doctoral degree in the <a href="https://linguistics.washington.edu/">Department of Linguistics</a>
        with a neuroscience focus from the <a href="http://www.washington.edu/">University of Washington</a>.
        I then spent two years as a postdoctoral researcher in the <a href="http://cls.psu.edu/">Center for Language
          Science</a> in the <a href="http://psych.la.psu.edu/">Department of Psychology</a> at <a href="https://www.psu.edu/">Penn
          State University</a>. I followed this up with five years on the faculty of <a href="https://linguistics.illinois.edu/">Linguistics</a>
        at the <a href="illinois.edu">University of Illinois at Urbana-Champaign</a>, where I had joint appointments in
        the departments of <a href="http://www.psychology.illinois.edu/">Pyschology</a> and <a href="https://spanport.illinois.edu/">Spanish
          and Portuguese</a>, as well as affiliations with the <a href="http://neuroscience.illinois.edu/">Neuroscience
          Program</a>, the <a href="https://beckman.illinois.edu/">Beckman Institute for Advanced Science and
          Technology</a>, and the <a href="http://www.slate.illinois.edu/">Second Language Acquisition and Teacher
          Education</a> program.<br><br>

        My academic research focused on the cognitive and neural underpinnings of language use (mostly language
        comprehension), second language learning in adulthood, and multilingualism. I mainly used recordings of
        electrical brain activity <a href="https://en.wikipedia.org/wiki/Electroencephalography">(electroencephalography)</a>
        to understand the
        dynamics of how language processes unfold in the brain over time during real-time language use. I
        completemented this neuroscientific research with <a href="https://en.wikipedia.org/wiki/Eye_tracking">eye
          tracking</a> and reaction-time research (including large-scale, web-based data collection). I'm known in the
        cognitive science and psycholinguistics communities primarily for my work on individual differences in the
        neural antecedents of language processing.<br><br>

        You can read more about my academic work and see my CV at <a href="https://darrentanner.wordpress.com/">
          my academic wordpress site</a>.<br><br>

        In my free time I love to cook (comort food and pies are my specialty), growing vegetables, and I love to travel. The picture above
        is me in the Belogradchick Rocks in the Balkan mountains in northwest Bulgaria in summer 2018. I'm a super
        avid, super slow jogger (I've done two half marathons in the last couple of years -- don't ask about my
        times... they're slow!), and
        I'm also a very doting cat dad.
      </div>
    </div><!-- End about me text-->


  </main>




  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="
              https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous">
  </script>
  <script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
</body>

</html>