<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>cocktailVision</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="starter-template.css" rel="stylesheet">
</head>

<body>

  <!-- Navbar -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index" style="font-family:Georgia, 'Times New Roman', Times, serif"><strong>
        <font color='red'>cocktail</font>lVision
      </strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/me">About me <span class="sr-only"></span></a>
        </li>

      </ul>
    </div>
  </nav>


  <!-- Heading section-->
  <main role="main" class="container">
    <div class="media">
      <img class="mr-3" src="./static/martini.png" alt="Martini" style="width: 150px">
      <div class="media-body">
        <h5 class="mt-0 h1" style="font-family:Georgia, 'Times New Roman', Times, serif"><strong>
            <font color='red'>cocktail</font>Vision
          </strong></h5>
        Show us what you've got in your liquor collection, and we'll help you save some money and get ready for your
        party!<br><br>
        Upload a picture of the booze you've got on hand, and we'll help you find some great stuff you can make.
      </div>
    </div>
  </main><!-- /.container -->
  <br><br>


  <!--Uploaded image -->
  <div class="container">
    <div class="row">
      <div class="col-3" style="padding-left: 0px;  padding-right: 0px; float: left;">
        <div class="h3">Your pic:</div>
        <img src="{{ filepath }}" class="img-fluid" alt="" style="padding-left: 0px;  padding-right: 0px;">
      </div>




      <!-- Recipe output -->
      <div class="col-5">
        <div id="cocktail_name" style="font-weight: bolder">
          <h2>
            {{ cocktail_name }}</str><br>
          </h2>
        </div>
        <div id="instructions">
          {{ instructions }}<br><br>
        </div>
        <div id="ingredients_table">
          {{ ingredient_table|safe}}
        </div>
      </div>
    </div>

    <!--Shake it up to get a new cocktail recipe-->
    {% if ingredient_table != "" %}
    <div class="row">
      <div class="col-3"></div>
      <div class="col-5">
        <form action="/shake" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="file">This recipe not your style? Shake it up and get another one!</label>
            <button type="submit" class="btn btn-dark">Shake it up!</button>
          </div>
        </form>
      </div>
    </div>
    {% endif %}
  </div>





  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="
              https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous">
  </script>
  <script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
</body>

</html>